@import url('https://fonts.googleapis.com/css?family=Poppins');

html {
  background-position: top center;
  background: radial-gradient(#91450a 50%, #770000 100%);
}

body {
  font-family: "Poppins", sans-serif;
  margin: auto;
}

#statusimg, #store, #hen{
  border: 7px solid #ff8c00;
  border-radius: 25px;
  box-shadow:15px 15px 25px rgba(0,0,0,0.7);
  margin-left: 300px;
  margin-right:300px;
  margin-bottom: 50px;
}

.statusContainer, .about, .contactContainer{
  display: flex;
  justify-content:center;
  align-items: center;
  flex-wrap:wrap;
}

.middle{
  margin-left:600px;
  margin-right: 600px;
}

h1 {
  font-size: 37px;
  font-weight: 650;
  border-bottom: 7px solid #ff8c00;
  text-transform: uppercase;
  display:inline-block;
  color: whitesmoke;
  text-shadow: 15px 15px 25px rgba(0,0,0,0.6);
  margin-left:400px;
  margin-right: 400px;
}

p {
  font-size: 18px;
  font-weight: 600;
  text-transform: uppercase;
  display:inline-block;
  color: whitesmoke;
  margin-left: 300px;
  margin-right: 300px;
}

button {
  background-color: #ff8c00;
  border: 1px solid rgba(0, 0, 0, 0.1);
  color: white;
  font-size: 13px;
  margin-left: 5px;
  margin-right: 5px;
  padding: 12px 55px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  text-transform: uppercase;
  width:175px;
  height:39px;
  border-radius: 5px;
  box-shadow:15px 15px 25px rgba(0,0,0,0.7);
}

button:hover  {
  background-color: #606060;
}

button:active  {
  -moz-transform: scale(0.95);
  -webkit-transform: scale(0.95);
  -o-transform: scale(0.95);
  -ms-transform: scale(0.95);
  transform: scale(0.95);
}

input[type="number"] {
	border: 1em solid #ff8c00;
            padding: 5px;
  text-align: center;
  display: inline-block;
  font-size: 15px;
  margin: 5px;
  border: 2px solid whitesmoke;
  border-radius: 4px;
  width:160px;
  height:27px;
  box-shadow:15px 15px 25px rgba(0,0,0,0.7);
}

input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
  -webkit-appearance: none;
}

input[type=number] {
  padding: 5px;
  text-align: center;
  display: inline-block;
  font-size: 15px;
  margin: 5px;
  border: 2px solid whitesmoke;
}

input[type=number]:focus{
  background-color: #fff;
  border-bottom: 2px solid #ff8c00;
}

input[type=number]:placeholder {
  color: #cccccc;
}

*:focus {
    outline: none;
}

.menuContainer .menu{
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: black;
}

.menuContainer .menu li{
  float: left;
}

.menuContainer .menu li a{
  display: block;
  color: #E8E8E8;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

.menuContainer .menu li img{
  display: block;
  margin-left: 320px;
  border-radius: 25px;
}

.menuContainer .menu li a:hover{
  background-color: rgb(40,40,40)
}